<h1>Command Line Manuals</h1>
<h3> *Choose from the list of options below* </h3>
<br><br>

<div class="border">
  <div class="menu">
    <ul style="list-style: none;">
      <h3><u>Menu</u></h3>
      <li><a href= '/cp'>CP Manual</a></li>
      <li><a href= '/ls'>LS Manual</a></li>
      <li><a href= '/mkdir'>MKDIR Manual</a></li>
      <li><a href= '/touch'>TOUCH Manual</a></li>
      <li><a href= '/mv'>MV Manual</a></li>
      <li><a href= '/search'>Search</a></li>
      <li><a href= "http://www.google.com" target="_blank">Google it!</a>
    </ul>
  </div>

  <div class="menu">
    <img src="https://media.giphy.com/media/7PwOZJLNYUkU/giphy.gif" alt="Agent Cooper Thumbs Up" />
  </div>
</div>
