<html>
  <head>
    <title>Cheatsheet Palace</title>
    <link rel ="stylesheet" type= "text/css" href="/stylesheets/styles.css" />
  </head>
  <body>
    <a href= '/'>Home |</a>
    <a href= '/list'> Top 5 List |</a>
    <a href= '/search'> Search</a>
    <hr />

    <%= yield %>
    <hr />
    <footer>
      <div>&copy; The Internet 2016</div>
    </footer>
  </body>
</html>
