<div class="menu">
  <h1>Top-5 Manuals</h1>
  <ul style="list-style: none;">
    <li><a href= '/cp'>CP Manual</a></li>
    <li><a href= '/ls'>LS Manual</a></li>
    <li><a href= '/mkdir'>MKDIR Manual</a></li>
    <li><a href= '/touch'>TOUCH Manual</a></li>
    <li><a href= '/mv'>MV Manual</a></li>
  </ul>
</div>
