body {
  background-color: #4039FF;
  text-align: center;
  color: white;
}

p {
  margin: 30px 30px;
  color: black;
}

a:link {
  text-decoration: underline;
  color: white
}

a:visited {
    color: pink;
}

.border {
  border: 2px solid black;
  margin: 4px 30%;
}

.menu {
  display: inline-block;
  vertical-align: top;
  color: white;
  text-align: left;
  padding-right: 20px;
}
